<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/layout :: site-head">
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>

    <header th:replace="fragments/layout :: site-header"></header>

    <main>

        <h1>
            Register Page
        </h1>

        <form method="post" th:object="${registerForm}">

            <table class="table table-striped table-hover">
            <tr>
                <th>
                    Full Name :
                </th>
                <th>
                    <input type="text" name="fullName" th:value="*{fullName}"/>
                    <span class="FormError" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                </th>
            </tr>

            <tr>
                <th>
                    Username :
                </th>
                <th>
                    <input type="text" name="username" th:value="*{username}"/>
                    <span class="FormError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    <span class="FormError" th:if="${errUsername}" th:text="${errUsername}"></span>
                </th>
            </tr>

            <tr>
                <th>
                Password :
                </th>
                <th>
                    <input type="password" name="password"/>
                    <span class="FormError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    <span class="FormError" th:if="${passError}" th:text="${passError}"></span>
                </th>
            </tr>

            <tr>
                <th>
                    Repeat Password :
                </th>
                 <th>
                    <input type="password" name="password1"/>
                    <span class="FormError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                     <span class="FormError" th:if="${passError}" th:text="${passError}"></span>
                 </th>
            </tr>
            </table>

            <input type="submit" value="Register" id="subBut"/>
        </form>



    </main>

    <footer th:replace="fragments/layout :: site-footer"></footer>

</body>
</html>