body{
    font-family: 'Oxygen', sans-serif;
    background-color: #dddddd;
}

header{
    height: 55px;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: 50px;
    text-align: center;
}

td {
    padding-right: 50px;
}

hr {
    clear:both;
    width: 100%;
    color: black;
    border: 0;
    border-top: 1px solid
}

.row {
    padding: 15px;
}

.btn {
    border-radius: 24px;
}

.bold {
    font-weight: bold;
}

.floatRight {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.floatLeft {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.main-bottom {
    margin-top: 40px;
}

.margintop30 {
    margin-top: 30px;
}

body.bodyBackgroundBlue {
    background-color: #5bc0de;
}

.FormError {
    color : black;
    font-style: italic;
}

.redError {
    color : red;
    font-style: italic;
}

.greenSuccess {
    color : green;
    font-style: italic;
}

div#loginFrame {
    margin-top: 50px;
    margin-bottom: 50px;
}

input#subBut {
    font-weight: bold;
}

div.left-side-navigation {
    padding: 10px;
    display: block;
    width: 200px;
    height: 100%;
    position: fixed!important;
    overflow-y: scroll;
}

div.left-side-navigation h3{
    padding-bottom: 10px;
}

div.mainRight {
    margin-left: 200px;
}

div.mainRight h1 {
    padding : 20px;
    text-align: center;
}

div.postBorder {
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background-color: skyblue;
    width: 336px;
    height: 270px;
}

div.postBorder img{
    max-width: 310px;
    max-height: 188px;
}

div.postBorder a{
    color: #333333;
}

div.postBorder a:hover{
    color: #e95d2c;
}

img.big {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
    max-width: 450px;
}

img.img50{
    max-height: 150px;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.postPage h1 {
    color: darkslateblue;
}

div.postPage h2 {
    color: #985f0d;

}

div.postPage h3 {
    color: coral;
}

#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}

body.blueColor{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.title {
    font-size: 50px;
    font-weight: 400;
}

.form-group{
    margin-top: 15px;
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}

.alignWithLeft {
    height: auto!important;
    padding: 8px 12px !important;
}

#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    background: #f5f5f5;
}

.navbar-btn {
    margin-right: 30px;
}

img.profilePic {
    max-height: 300px;
    max-width: 300px;
    border-radius: 90%;
}

div.firstRow {
    display: inline;
}

div.firstRow h3 {
    display: inline-block;
}

div.firstRow a {
    display: inline-block;
    margin-left: 50%;
}

div#righter {
    padding-left: 45px;
}

div.personal-info {
    padding-left: 45px;
}

div.author {
    text-align: right;
}

div.multiline
{
    font-size: larger;
    word-wrap: break-word;
    width: 550px;
    height: 150px;
    white-space: pre-wrap;
    overflow:scroll;
    border: 2px solid #8c8c8c;
}

div.multiline2
{
    font-size: larger;
    word-wrap: break-word;
    width: 550px;
    height: 300px;
    white-space: pre-wrap;
    overflow:scroll;
    border: 2px solid #8c8c8c;
}

div.multiline1
{
    font-size: larger;
    white-space: pre-wrap;
    overflow:scroll;
}

input.title {
    width: 60%;
    height: 40px;
    font-size: medium;
}

textarea.description {
    width: 100%;
    height: auto;
    font-size: larger;
}

img#image {
    margin-top: 30px;
    max-width: 400px;
    max-height: 270px;
}

div.myPost {
    width: 100%;
    height: auto;
}

#listPostsImage {
    max-height: 100px;
    width: auto;
}

.borderPadding {
    padding: 40px;
    border: groove;
}

.borderPadding2 {
    padding: 15px;
    border: groove;
}

.button-padding {
    text-align: center;
    padding: 20px;
}

.image-padding {
    padding-left: 20px;
}

.reply-comment {
    display: none;
}

.articles {
    background-color: white;
    margin-bottom: 40px;
}

.centered {
    margin-top: auto;
    margin-bottom: auto;
}

.width1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.white {
    background-color: white;
}