<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/layout :: site-head">
    <meta charset="UTF-8"/>
    <title th:text="${post.title}">Tile of the Post</title>
</head>
<body>

    <header th:replace="fragments/layout :: site-header"></header>

    <main>

        <div class="postPage">
            <h1><b th:text="${post.title}"></b></h1>
            <img th:if="${post.icon}" th:src="@{/res/image-post/} + ${post.icon}"/>
            <div class="multiline" th:text="${post.description}"></div>
            <h2 th:if="${post.author}"><strong th:text="${post.author.fullname}"></strong></h2>
        </div>
    </main>

    <footer th:replace="fragments/layout :: site-footer"></footer>

</body>
</html>