<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/layout :: site-head">
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body class="bodyBackgroundBlue">

    <header th:replace="fragments/layout :: site-header"></header>

    <main>
        <div class="container body-content span=8 offset=2" id="loginFrame">
            <div class="well">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend>Login</legend>
                        <h4 class="redError" th:if="${loginError}">Incorrect credentials</h4>
                        <h4 class="greenSuccess" th:if="${logout}">Logout was Successful!</h4>
                        <h4 class="greenSuccess" th:if="${regSuccess}">Registration was successful! Now You can Login.</h4>
                        <h4 class="greenSuccess" th:if="${accDeleted}" th:text="${accDeleted}"></h4>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="username">Username</label>
                            <div class="col-sm-4">
                                <input autofocus="autofocus" type="text" id="username" name="username" class="form-control" placeholder="Enter your Username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="password">Password</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="password" placeholder="Enter your Password" name="password"/>
                            </div>
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <a class="btn btn-default" th:href="@{/}">Cancel</a>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </main>

    <footer th:replace="fragments/layout :: site-footer"></footer>

</body>
</html>