<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/layout :: site-head">
    <meta charset="UTF-8"/>
    <title th:text="${#authentication.getName()}"></title>
</head>
<body>

    <header th:replace="/fragments/layout :: site-header"></header>

    <main>
        <h1>Your profile : <span th:text="${#authentication.getName()}"></span></h1>


    </main>

    <footer th:replace="/fragments/layout :: site-footer"></footer>

</body>
</html>