<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/layout :: site-head">
    <title>Blog</title>
</head>

<body>
    <header th:replace="fragments/layout :: site-header"></header>

    <main class="main-bottom">
        <div class="container">
            <div class="postBorder" th:each="post : ${allPosts}">
                <a th:href="@{/posts/} + ${post.id}">
                    <img th:if="${post.icon}" th:src="@{/res/image-post/} + ${post.icon}"/>
                    <img th:unless="${post.icon}" src="/res/image-post/default-image.png"/>
                    <h2 th:text="${post.summaryTitle}">Title</h2>
                </a>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/layout :: site-footer"></footer>
</body>



</html>