<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="/fragments/layout :: site-head">
    <title>Geting image</title>
</head>
<body>

    <header th:replace="/fragments/layout :: site-header"></header>

    <main>

        <div class="imgGallery" th:if="${images}" th:each="image : ${images}">
            <img th:src="${linkImgs} + ${image.imgName}"/>
            <div class="description" th:text="${image.originalName}"></div>
        </div>

    </main>

</body>
</html>